.grandpa,
.grandpa div {
    background: linear-gradient(to left top, rgb(141, 84, 246), rgb(176, 255, 48));
    color: rgb(97, 12, 2);
    border: 2px solid rgb(233, 9, 9);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.grandpa p {
    margin-top: 0px;
    margin-bottom: 0px;
}